$navbarBgDefault      : #045004;
$navbarBgHighlight    : #123456;
$navbarColDefault     : #ffffff;
$navbarColHighlight   : #ffffff;


$sidebarBgDefault     : #045004;
$sidebarBgHighlight   : #123456;
$sidebarColDefault    : #ffffff;
$sidebarColHighlight  : #ffffff;

$footerBgDefault      : #045004;

@import '../../bootstrap/v4/css/bootstrap';
@import './share/bootstrap-full.scss'